.head {
    float: right
}

.head svg, .head img {
    display: inline-block;
}

.head > span {
    margin-left: 15px;
}

.head a {
    text-decoration: none;
}

.head a:hover{
    text-decoration: underline;
}

.img {
   display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

body{
    margin: 0;
}
.main{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fuck{
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    width: 600px;
}
.fuck input{
    width: 100%;
    border-radius: 24px;
    height: 44px;
    border: 1px solid grey;
    outline: none;
    padding: 0 40px;
    box-sizing: border-box;
}
.fuck input:hover{
    box-shadow: 0 1px 6px gray;
}
.loop{
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -12px;
}
.mik{
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -12px;
}
.knopocki{
    margin: 0 0 30px;
}
.knopocki button{
    border: 1px solid rgb(239, 239, 239);
    padding: 10px 15px;
}
.knopocki button + button{
    margin-left: 10px;
}
.knopocki button:hover{
    border: 1px solid grey;
    box-shadow: 0 1px 1px gray;
}
footer{
    background: lightgray;
    padding: 10px 0px;
    color: darkslategrey;
}
footer a{
    color: darkslategrey;
}
footer a + a{
    margin-left: 30px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.poshuk{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    padding-left: 30px;
}
.poshuk + div{
    padding: 0 30px;
}

#logo {
border: 20px;
}

